.nav-top_wraper {
    border-bottom: 1px solid $border-color;
    padding: 15.2px 0 12.8px 0;
    z-index: 2;
    position: relative;

    .nav-top {

        &_phone,
        &_email {
            h6 {
                margin: 0;
                font-family: $poppins-font;
                font-weight: 300;
                font-size: 16px;
                text-align: left;
                color: #1e1e1f;

            }
        }

        // &_language,
        // &_currency {
        //     a {
        //         color: $secondary-color;


        //         &:focus,
        //         &:active,
        //         &:hover {
        //             outline: none;
        //             border: none;
        //             box-shadow: none !important;
        //             text-decoration: none;

        //         }
        //     }
        // }

        &_language{
            .dropdown-menu{
                top: 12px !important;
            }
        }

        &_currency {
            border-left: 1px solid $border-color;
            text-align: end;

            .dropdown-menu{
                top: 12px !important;
            }

        }
    }
}



//navbar start
.pika-nav {
    z-index: 2;
    position: relative;
    @include respond(tab-port) {
        border: 1px solid $border-color;
        border-top: none;

        .row {
            align-items: center;
        }

        @include respond(phone-large) {
            border-top: 1px solid $border-color;
        }
    }

    &_logo {
        padding: 66.7px 0 67.8px;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
        display: flex;
        justify-content: center;

        @include respond(tab-port) {
            border-left: none;
            border-bottom: none;
            padding: 20px 0 20px;
        }
    }

    &_right {
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;

        @include respond(tab-port) {
            border-bottom: none;
        }

        &_top {
            border-bottom: 1px solid $border-color;
            display: flex;
            flex-wrap: wrap;

            @include respond(tab-port) {
                border-bottom: none;
            }

            &_search-bar {
                flex: 77.77%;
                padding-top: 31.8px;
                padding-bottom: 33px;
                position: relative;

                @include respond(phone-large) {
                    display: none;
                }



                form {
                    margin: auto;
                    text-align: center;
                }

                input {
                    width: 74.5%;
                    border: none;
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 10px;
                    background: none;

                    &:focus,
                    &:active {
                        outline: none;
                        border: none;
                        box-shadow: none !important;
                        text-decoration: none;

                    }
                }

                button {
                    border: none;
                    background: none;
                    position: absolute;
                    right: 13%;
                    top: 20%;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 28.8px;
                    color: #1e1e1f;

                    &:focus,
                    &:active {
                        outline: none;
                        border: none;
                        box-shadow: none !important;
                        text-decoration: none;

                    }
                }
            }

            &_cart {
                flex: 11.1%;
                padding-top: 36.8px;
                padding-bottom: 38.2px;
                text-align: center;
                border-left: 1px solid $border-color;

                @include respond(phone-large) {
                    max-width: 15%;
                    margin-left: auto;
                }

                @include respond(tab-port) {
                    padding: 20px 0 20px;
                }



            }

            &_menu-icon {
                flex: 11.1%;
                padding-top: 36.8px;
                padding-bottom: 38.2px;
                border-left: 1px solid $border-color;
                text-align: center;

                &::after {
                    display: none !important;
                }

                .dropdown-menu {
                    min-width: 16rem;
                    // left: -44.5px  !important;
                    padding: 20px;

                    box-shadow: -1px 14px 25px -1px rgba(0,0,0,0.42);
                    -webkit-box-shadow: -1px 14px 25px -1px rgba(0,0,0,0.42);
                    -moz-box-shadow: -1px 14px 25px -1px rgba(0,0,0,0.42);

                    a{
                        padding-left: 0;

                        &:nth-child(7){
                            padding-top: 30px;
                            border-top: 1px solid $border-color;
                        }
                    }
                }




                @include respond(phone-large) {
                    max-width: 15%;
                }

                @include respond(tab-port) {
                    padding: 20px 0 20px;
                }

            }

        }

        &_menu-items {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 18.8px 136.2px 21.2px 143.8px;

            @include respond(tab-port) {
                display: none;
            }

            a {
                &:focus {
                    color: red;
                }
            }

        }
    }
}

.mobile-search-bar {
    border: 1px solid $border-color;
    border-top: none;
    margin-bottom: 30px;
    display: none;
    padding-top: 21.8px;
    padding-bottom: 23px;

    @include respond(phone-large) {
        display: block;
    }
}