.nav-top_wraper {
    border-bottom: 1px solid $border-color;
    padding: 15.2px 0 12.8px 0;

    .nav-top {

        &_phone,
        &_email {
            h6 {
                margin: 0;
                font-family: $poppins-font;
                font-weight: 300;
                font-size: 16px;
                text-align: left;
                color: #1e1e1f;

            }
        }

        // &_language,
        // &_currency {
        //     a {
        //         color: $secondary-color;


        //         &:focus,
        //         &:active,
        //         &:hover {
        //             outline: none;
        //             border: none;
        //             box-shadow: none !important;
        //             text-decoration: none;

        //         }
        //     }
        // }

        &_currency {
            border-left: 1px solid $border-color;
            text-align: end;
        }
    }
}



//navbar start
.pika-nav {
    &_logo {
        padding: 66.7px 107.9px 67.8px 95px;
        border-right: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
    }

    &_right {
        border-bottom: 1px solid $border-color;
        border-right: 1px solid $border-color;

        &_top {
            border-bottom: 1px solid $border-color;
            display: flex;
            flex-wrap: wrap;

            &_search-bar {
                flex: 77.77%;
                padding-top: 31.8px;
                padding-bottom: 33px;
                position: relative;

                form {
                    margin: auto;
                    text-align: center;
                }

                input {
                    width: 74.5%;
                    border: none;
                    border-bottom: 1px solid $border-color;

                    &:focus,
                    &:active {
                        outline: none;
                        border: none;
                        box-shadow: none !important;
                        text-decoration: none;

                    }
                }

                button {
                    border: none;
                    background: none;
                    position: absolute;
                    right: 13%;
                    top: 20%;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 28.8px;
                    color: #1e1e1f;

                    &:focus,
                    &:active {
                        outline: none;
                        border: none;
                        box-shadow: none !important;
                        text-decoration: none;

                    }
                }
            }

            &_cart {
                flex: 11.1%;
                padding-top: 36.8px;
                padding-bottom: 38.2px;
                text-align: center;
                border-left: 1px solid $border-color;

            }

            &_menu-icon {
                flex: 11.1%;
                padding-top: 36.8px;
                padding-bottom: 38.2px;
                border-left: 1px solid $border-color;
                text-align: center;
            }

        }

        &_menu-items {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding: 18.8px 136.2px 21.2px 143.8px;

            a{
                &:focus{
                    color: red;
                }
            }

        }
    }
}