.category-products-menu {
    margin-bottom:50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .sort-by,
    .show-items,
    .grid-list-wrapper {
        display: flex;


    }

    .show-items{
        p {
            margin-right: 5px;
            font-size: 14px;
        }

        .dropdown {
            margin-right: 13.5px;
        }

        .dropdown-menu {
            flex-direction: column;
            min-width: 7rem;
        }

        @include respond(tab-port) {
            order: 3;
            flex: 50%;
            margin-top: 20px;
        }
        @include respond(iphone-x) {
            flex: 100%;
            margin-top: 15px;   
        }
    }

    .sort-by {
        p {
            margin-right: 5px;
            font-size: 14px;
        }

        .dropdown {
            margin-right: 13.5px;
        }

        .dropdown-menu {
            flex-direction: column;
            min-width: 7rem;
        }

        @include respond(tab-port) {
            order: 4;
            flex: 50%;
            justify-content: flex-end;
            margin-top: 20px;
        }
        @include respond(iphone-x) {
            flex: 100%;
            justify-content: flex-start; 
            margin-top: 15px;  
        }
    }

    .products-amount{
        @include respond(tab-port) {
            flex: 50%;
        }
    }

    .grid-list-wrapper {

        @include respond(tab-port) {
            flex: 50%;
            justify-content: flex-end;
        }

        .grid-show {
            width: 32px;
            height: 32px;
            background: #1e1e1f;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;

            i{
                color: #fff;
            }
        }
        .list-show{
            width: 32px;
            height: 32px;
            background: #fff;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
        }
    }
}


