.date-counter {
    .single-date-wraper {
        margin-right: 20px;
        .date-wraper {
            width: 60px;
            height: 60px;
            background: #d6d8dc;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 9.9px;

        }
    }
}