.free-shipping_wrapper {
    border: 1px solid $border-color;

    .col-lg-4{
        &:nth-child(3){
           .free-shipping_wrapper_items{
            border-right: none;
           
           }
        }

       &:nth-child(1){
        @include respond(tab-port){
            .free-shipping_wrapper_items{
                border-right: none;
               
               }
        }
       }
       &:nth-child(2){
        @include respond(tab-port){
            .free-shipping_wrapper_items{
                border-right: none;
               
               }
        }
       }
    }
    
    &_items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $border-color;

        @include respond(tab-port){
            border-bottom: 1px solid $border-color;
        }
       

        
        

        &_circle{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border: 2px solid $border-color;
            position: relative;
            margin-right: 19.6px;

            img{
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
}
        }

        &_content{
            padding: 57.3px 0 53px 0;

            h3{
                margin-bottom: 3.8px;
            }
        }
    }

}