// start of product-details slider-part
.product-details-slider-wrapper {


  .showm {
    width: 100%;
    height: auto;
  }

  .showm div {
    position: relative;
    z-index: 9;
  }

  .small-img {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    position: relative;
    left: 0;
    right: 0;
  }

  .small-img .icon-left,
  .small-img .icon-right {
    background: #1e1e1f;
    padding: 5px 9px 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 2;
  }

  // .small-img .icon-left {
  //   transform: rotate(180deg)
  // }

  .small-img .icon-right {
    right: 0;
    font-size: 14px;

    color: #fff;
  }

  .small-img .icon-left:hover,
  .small-img .icon-right:hover {
    opacity: .5;
  }

  .small-container {
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .small-container div {
    width: 800%;
    position: relative;
  }

  .small-container .show-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
  }

  .small-container .show-small-img:last-of-type {
    margin-right: 0;
  }

}

// ends of product-details slider-part

//start of product-details description right part
.products-details-content-wrapper {
  .products-details-content-title {
    h2 {
      font-family: $poppins-font;
      font-weight: normal;
      font-size: 36px;
      text-align: left;
      color: #5f5f5f;
      margin-bottom: 6.8px;

    }
  }

  .products-details-review-wrapper {
    display: flex;

    .product-review-stars {
      margin-right: 28.4px;
      color: #fecc2f;
      cursor: pointer;
      font-size: 16px;
    }

    .product-review-number {
      margin-bottom: 29px;
      display: flex;
      align-items: center;

      span {
        font-size: 14px;
        color: #5f5f5f;
      }

      .divider {
        height: 13px;
        width: 1.5px;
        background: #5f5f5f;
        margin: 0 12px;
        display: block;

      }
    }
  }

  .products-details-price-wrapper {
    margin-bottom: 30.4px;
    display: flex;
    align-items: baseline;

    .product-details-price {
      margin-right: 30.2px;

      h2 {
        font-family: $poppins-font;
      }
    }

    .product-details-instoke-wrapper {
      .available {
        margin-right: 10px;
      }
    }
  }

  .products-short-details {
    margin-bottom: 60px;

    p {
      font-size: 14px;
    }
  }

  .select-color {
    margin-bottom: 33px;
    display: flex;
    align-items: center;

    p {
      font-weight: 600;
    }

    .color-filter-wrapper {
      margin-top: 0;
      margin-left: 24.3px;
      padding: 0;
      border: none;

      .colors-wrapper {
        padding: 0;

        ul {
          margin: 0;
        }
      }
    }
  }

  .select-sizes {
    margin-bottom: 31.8px;
    display: flex;
    align-items: center;

    p {
      font-weight: 600;
    }

    .size-filter-wrapper {
      margin-top: 0;
      margin-left: 24.3px;
      padding: 0;
      border: none;

      .sizes {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
  }

  .add-to-cart-wrapper {
    display: flex;
    flex-wrap: wrap;

   

    .input_value {
      z-index: 100;
      padding-left: 53px;
      color: black  !important;
    }

    .input_number {
      position: relative;
      width: 120px;
      
    }
    .input-number-wrapper{
      @include respond(phone-medium) {
        flex: 100%;
        margin-bottom: 15px;
        margin-left: 0;
         
         }
    }

    .btn__minus {
      position: absolute;
      right: 7%;
      top: 0%;
      background: none;
      border: none;
      border-left: 1px solid $border-color;
      height: 100%;
      padding-left: 11px;
      outline: none;
      

    }

    .btn__plus {
      position: absolute;
      left: 7%;
      border: none;
      background: none;
      top: 0%;
      border-right: 1px solid $border-color;
      height: 100%;
      padding-right: 10px;
      outline: none;
    }

    // hide input number type arrow ==== 
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}






    div {
      margin-left: 15px;
    }

    .button-shape {
      width: 120px;
      height: 36px;
      border-radius: 18px;
      color: #fff;
      border: 1px solid $border-color;
      outline: none;
      background: #fff;
      padding-top: 0;
      padding-bottom: 0;
    }

    .button-shape-black {
      background: black;
      border: none;
    }

    .cart-icons {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: #d6d8dc;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fav-list-icon {
      color: #ca2751;
      font-size: 14px;
    }

  }

  .sku-category-wrapper {
    margin-top: 27px;

    .category-wrapper {
      display: flex;
      margin-top: 6px;

      span {
        margin-right: 5px;
      }
    }
  }
}

//ends of product-details description right part

//start of products description and review part 
.product-description-review-wrapper {
  border: 1px solid $border-color;
  margin-top: 100px;

  @include respond(tab-port) {
    margin-top: 60px;
     
     }

  .product-description-social-icon-wrapper {
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-wrap: wrap;



    .social-icon-box {
      flex: 20%;
      text-align: center;
      padding: 19.9px 0 21.1px;
      border-right: 1px solid $border-color;

      a{
        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            
            }
      }

      &:nth-child(5) {
        border-right: none;
      }

      span {
        font-size: 13px;
        margin-left: 10.3px;
        @include respond(tab-port) {
          margin-top: 10px;
          
          }
          @include respond(phone-medium) {
            display: none;
            
            }
      }
    }
  }

  .description-review-tab-wrapper {
    margin-top: 67.3px;

    @include respond(phone-medium) {
      margin-top: 35px;
      
      }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      background: none;
      border-bottom: 2px solid #ca2751;
      color: black;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }

    ul {
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: center;

    }

    .tab-content {
      width: 74.44%;
      margin: 67.2px auto 58.9px;

      #pills-home {
        p {
          &:nth-child(1) {
            margin-bottom: 35px;
          }
        }
      }

      #pills-review {
        .person-review-wrapper {
          display: flex;

          .person-review-content {
            padding: 20px 50px 20px 20px;
            border: 1px solid $border-color;
            margin-left: 30px;

            @include respond(tab-port) {
              padding: 20px 20px 20px 20px;
              
              }

            .stars {
              color: #fecc2f;
            }

            .person-review-date {
              display: flex;
              margin-top: 15px;
              margin-bottom: 15px;

              .person-name {
                font-weight: 600;
              }

              span {
                margin: 0 5px;
              }
            }
          }
        }

        .review-form-part {
          margin-top: 50px;

          h4,
          p {
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 15px;
          }

          .review-stars {
            color: #5f5f5f5f;
            cursor: pointer;
            margin-bottom: 15px;

            &:hover {
              color: #fecc2f;
            }
          }

          .review-form-wrapper {
            .form-control {
              margin-bottom: 20px;
            }

            input,
            textarea {

              &::placeholder {
                display: none;
                color: #fff;
              }

              &:active {
                outline: none;
                border: none;
                // border-color: $border-color;

              }

              &:focus {
                outline: none;
                box-shadow: none;
                border-color: $border-color;

              }

            }

            .btn {
              border: 1px solid $border-color;

              &:hover {
                color: #fff;
                background: black;
              }
            }
          }
        }
      }
    }
  }
}


//Ends of products description and review part 