.products-top-content {
    text-align: center;

    p {
        font-family: $poppins-font;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.3em;
        text-align: center;
        color: #5f5f5f;

    }

    
}