.size-filter-wrapper {
    border-bottom: 1px solid $border-color;
    padding-bottom: 40px;
    .size-filter-title {
        h3 {
            font-family: $poppins-font;
            font-weight: normal;
            font-size: 24px;
            text-align: left;
            color: #1e1e1f;
            margin-bottom: 36px;
        }
    }

    .sizes-wrapper{
        display: flex;

        .sizes{
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #5f5f5f;
            margin-right: 7px;
            color: #fff;
            cursor: pointer;

            &:hover{
                background: #d6d8dc;
            }
        }
    }
}