.category-banner {
    background: url(../../img/category/category-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



.category-section-wrapper{
    margin-top: 92.5px;
}

.category-products-menu-wrapper{
    
    .products{
        margin-bottom: 53.5px;
    }
}



.category-right-sidebar{

    @include respond(tab-port) {
        margin-top: 60px;
    }
}



.menufactures-company-title{
    margin-top: 53.7px;
}

.color-filter-wrapper{
    margin-top: 53.7px;
}

.size-filter-wrapper{
    margin-top: 53.7px;
}

.products-tag-wrapper{
    margin-top: 53.7px;
}