.checkout-section {
    margin-top: 100px;

    .checkout-first-title {
        border: 1px solid $border-color;
        background: #f3f3f3;
        padding: 13.6px 0 16.4px 14.8px;
        margin-bottom: 49px;

        p {
            color: #1e1e1f;
            font-size: 14px;

            span {
                color: black;
            }
        }
    }

    .form-heading {
        margin-bottom: 18.2px;

        h3 {
            font-family: $poppins-font;
        }
    }

    .checkout-form-wrapper {
        form {
            .form-group {
                label {
                    margin-top: 16.1px;
                    font-size: 13px;
                    color: #5f5f5f;
                }

                input {
                    padding: 15px 0 15px 15px;

                    &:active {
                        outline: none;
                        box-shadow: none;
                    }

                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border-color: $border-color;
                    }

                    &::placeholder {
                        font-size: 13px;
                        color: #5f5f5f;
                    }
                }
            }

            textarea {
                padding: 15px 0 15px 15px;

                &:active {
                    outline: none;
                    box-shadow: none;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                    border-color: $border-color;
                }

                &::placeholder {
                    font-size: 13px;
                    color: #5f5f5f;
                }
            }

            .form-checkbox-wrapper {
                margin-top: 35.7px;

                label {
                    margin-top: 0;
                }
            }
        }
    }
}


.checkout-order-wrapper {
    border: 1px solid $border-color;
    margin-bottom: 40px;
    .checkout-order-title {
        padding: 19.5px 0 17.5px 29.6px;
        background: #f3f3f3;
        border-bottom: 1px solid $border-color;
        h3 {
            font-family: Poppins;
            font-weight: normal;
            font-size: 24px;
            color: #1e1e1f;
        }
    }

    .checkout-order-inner{
        .checkout-order-item{
            display: flex;
            justify-content: space-between;
            padding: 8.7px 115.5px 11.3px 29.5px;
            border-bottom: 1px solid $border-color;

            &:nth-child(even){
                background: #f3f3f3;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
}

.payment-option-wrapper{
    border: 1px solid $border-color;
    
  

   .bank-transfer{
       padding: 31.4px 30px 21.9px 30px;
       border-bottom: 1px solid $border-color;

       .radio-content{
           font-size: 13px;
           margin-top: 10.5px;
       }
   }

   .other-payment{
       padding: 19.5px 0 21.5px 30px;
       border-bottom: 1px solid $border-color;
       background: #f3f3f3;

       &:last-child{
           border-bottom: none;
       }
   }
}