.pika-nav {
    margin-bottom: 30px;

    @include respond(phone-large) {
        margin-bottom: 0;
    }
}


//categories part start===========================

.catagories {
    .categorie-collapse {
        width: 100%;
    }


    &_wrapper {
        border: 1px solid $border-color;

        &_top-content {
            padding: 43px 0 39.9px 0;
            text-align: center;
            cursor: pointer;
            position: relative;

            i {
                display: none;

                @include respond(tab-port) {
                    display: block;
                    position: absolute;
                    right: 7%;
                    top: 29%;
                    font-size: 30px;
                }



            }

            @include respond(tab-port) {
                padding: 20px 0 20px 0;
                text-align: left;
                margin-left: 20px;
            }

            h2 {
                margin-bottom: 5px;
            }

            p {
                @include respond(tab-port) {
                    display: none;
                }
            }
        }

        &_catagorie-wrapper {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid $border-color;
            text-align: left;


            &_icon {
                flex: 33.33%;
                position: relative;
                border-right: 1px solid $border-color;
                display: flex;
                align-items: center;
                justify-content: center;


            }

            &_categorie-name {
                flex: 66.66%;
                padding: 30.2px 0 29.8px 0;
                padding-left: 10px;

                p {
                    display: inline-block;
                    margin-right: 19.8px;
                }

            }
        }
    }
}



// categories slider start==============


// start of free shipping section
.free-shipping-section {
    margin-top: 30px;
    margin-bottom: 40px;
}

// ends of free shipping section



//start pf fashion section
.fashion-section {

    .fashion {
        position: relative;


        @include respond(tab-port) {

            margin-bottom: 30px;
        }


        img {
            width: 100%;
            height: auto;
        }

        &_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;

            h6 {
                margin-bottom: 3.9px;
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.5em;
                color: #fff;

            }

            h1 {
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 48px;
                color: #fff;

                @include respond(tab-port) {
                    font-size: 37px;
                }

            }

            i {

                font-size: 36px;
                color: #fff;
                margin-bottom: 26px;
                margin-top: 13.7px;
            }

            h2 {
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 32px;
                color: #fff;

            }
        }
    }
}

//ends of fashion section

//start of featured products section
.feature-products-section {
    margin-bottom: 143px;

    @include respond(tab-port) {
        margin-bottom: 70px;

    }
}

//ends of featured products section

// start of special deal section
.special-deal-section {
    background: #f7f7f8;

    @include respond(tab-port) {
       
        margin-bottom: 70px;

    }

    @include respond(phone-medium) {
        background: none;
    }

    .special-deal-image {

        background: url(../../img/home-1/home-1-special-deal.png);
        height: 123%;
        width: 100%;
        margin-top: -50px;
        background-repeat: no-repeat;
        background-size: cover;


        // img {
        //     width: 100%;
        //     height: auto;
        //     margin-top: -50px;
        //     margin-bottom: -50px;
        // }
    }

    .special-deal-content-wrapper {
        background: #fff;
        height: 100%;
        width: 100%;
        padding-left: 126px;
        padding-right: 139px;
        padding-top: 48.3px;

        @include respond(phone-medium) {

            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }


        .special-deal-content-wrapper_top {


            h1 {
                font-family: $abril-font;
                font-weight: normal;
                font-size: 60px;
                text-align: left;
                color: #1e1e1f;
                margin-bottom: 5px;

                @include respond(phone-medium) {
                    text-align: center;
                }

                @include respond(tab-port) {
                    font-size: 37px;
                }

            }

            h5 {
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.3em;
                text-align: left;
                color: #5f5f5f;

                @include respond(phone-medium) {
                    text-align: center;
                }

            }

            .section-title_line {
                text-align: left;
                margin: 0;
                margin-top: 33.8px;
                margin-bottom: 45.4px;

                @include respond(phone-medium) {
                    text-align: center;
                    display: inline-block;

                }
            }

            p {


                font-family: $poppins-font;
                font-weight: normal;
                font-size: 14px;
                text-align: left;
                color: #5f5f5f;
                margin-bottom: 23.5px;

                @include respond(phone-medium) {
                    text-align: center;
                }

            }
        }

        .date-counter {
            display: flex;

            @include respond(phone-medium) {
                justify-content: center;
            }
        }

        .btn {
            margin-top: 55.1px;
            background: #1e1e1f;
            color: #fff;
        }

    }
}

// ends of special deal section


//start of new arraival section
.new-arraival-section {
    margin-bottom: 143px;

    @include respond(tab-port) {
        margin-bottom: 100px;

    }
}

//ends of new arraival section



//start of testimonial slider section
.testimonial-section {
    background: #f7f7f8;

    @include respond(phone-medium) {
        background: none;
    }

    .testimonial-section_left-part {
        background: #fff;
        height: 100%;
        width: 100%;
        position: relative;

        .fa-quote-left {
            position: absolute;
            top: 171px;
            left: 78px;

            @include respond(tab-land) {
                left: 22px;

            }

            @include respond(tab-port) {
                left: 19px;
                top: 128px;

            }
            @include respond(phone-medium) {
                left: 5px;
                top: 103px;
    
            }
            @include respond(iphone-x) {
                left: 5px;
                top: 127px;
    
            }
        }

        .fa-quote-right {
            position: absolute;
            bottom: 105px;
            right: 69px;

            @include respond(tab-land) {
                bottom: 65px;

            }

            @include respond(tab-port) {
                bottom: 7px;

            }
            @include respond(phone-medium) {
              bottom: -19px;
              right: 10px;
    
            }
        }
    }

    &_content-wrapper {
        width: 100%;
        padding-left: 146.6px;
        padding-right: 147.4px;
        padding-top: 48.3px;

        @include respond(iphone-x) {
            margin-bottom: 25px;

        }


        @include respond(tab-port) {
            padding-left: 0;
            padding-right: 0;
            text-align: center;

        }

        @include respond(tab-land) {
            padding-top: 0;

        }

        h1 {
            font-family: $abril-font;
            font-weight: normal;
            font-size: 60px;
            text-align: right;
            color: #1e1e1f;
            margin-bottom: 5px;

            @include respond(tab-port) {
                text-align: center;

            }

            @include respond(tab-port) {
                font-size: 37px;
                margin-bottom: 7px;
            }
        }

        h5 {
            font-family: $poppins-font;
            font-weight: normal;
            font-size: 18px;
            letter-spacing: 0.3em;
            text-align: right;
            color: #5f5f5f;

            @include respond(tab-port) {
                text-align: center;

            }

        }

        .section-title_line {
            text-align: end;
            margin: 33.8px 0 45.4px auto;
            // margin-top: 33.8px;
            // margin-bottom: 45.4px;


            @include respond(tab-port) {
                text-align: center;
                display: inline-block;
                margin-bottom: 20px;

            }
        }
    }

    img {
        width: 100%;
        height: auto;
        margin-top: -50px;
        margin-bottom: -50px;
    }

    i {

        font-size: 36px;
        letter-spacing: 0.3em;
        line-height: 80px;
        text-align: center;
        color: #ddd;

    }

    .testimonial-slider-wrapper {
        padding-left: 71.4px;
        padding-right: 130.3px;

        @include respond(phone-medium) {
            padding-left: 60px;
        padding-right: 60px;

        }



        .owl-dots {
            position: absolute;
            bottom: -104px;
            right: 138px;

            @include respond(tab-land) {
                bottom: -58px;

            }

            @include respond(tab-port) {
                display: none;

            }

            button {
                width: 8px;
                height: 8px;
                background: #5f5f5f;
                border-radius: 50%;

                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin-right: 10px;
            }

            .active {
                background: #ca2751;
            }
        }




        span {
            margin-bottom: 35px;
        }

        p {
            padding-left: 90px;
            padding-right: 14px;
            text-align: justify;

            @include respond(tab-land) {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 35px;

            }

            span {
                margin-bottom: 35px;
                display: inline-block;

                @include respond(tab-land) {
                    margin-bottom: 15px;

                }
            }

        }



    }

    .testimonial-slider-image {
        @include respond(tab-port) {
            display: none;

        }
    }




}

//ends of testimonial slider section


//start of our blog section
.blog-slider-wrapper {
    margin-top: 96.4px;
}

.our-blog-section-title{
    @include respond(tab-port) {
        margin-top: 80px;

    }
}

//ends of our blog section



//start of footer section
.footer {
    margin-top: 96.4px;

    &_full-border {
        border-top: 1px solid $border-color;
    }

    &_wrapper {
        border: 1px solid $border-color;
        border-top: none;
    }

    // border-top: 1px solid $border-color;

    &_top-part {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid $border-color;


        &_email-subscribtion {
            flex: 45.7%;
            align-self: center;

            @include respond(tab-port) {
                flex: 100%;
                padding-top: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid $border-color;

            }



            form {
                margin: auto;
                text-align: center;
                position: relative;

            }

            input {
                width: 64.35%;
                border: none;
                border-bottom: 1px solid $border-color;
                padding-bottom: 10px;

                @include respond(phone-large) {
                    width: 90%;
                }


                &::placeholder {

                    margin-bottom: 11.8px;

                    @include respond(phone-medium) {
                        // visibility: hidden;
                    }


                }

                &:focus,
                &:active {
                    outline: none;
                    box-shadow: none !important;
                    text-decoration: none;

                }
            }

            button {
                border: none;
                background: none;
                position: absolute;
                font-weight: normal;
                font-size: 18px;
                line-height: 80px;
                text-align: left;
                color: #1e1e1f;
                top: -95%;
                right: 17%;

                @include respond(phone-large) {
                    right: 5%;
                }

                &:focus,
                &:active {
                    outline: none;
                    box-shadow: none !important;
                    text-decoration: none;

                }
            }

        }

        &_scroll-top {
            flex: 4.27%;
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
            display: flex;
            justify-content: center;

            @include respond(tab-port) {
                flex: 100%;
                border-bottom: 1px solid $border-color;

            }

            img {
                padding: 37.5px 0;
            }
        }

        &_social-icons {
            flex: 45.7%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 120.6px;
            padding-right: 71px;

            @include respond(tab-land) {
                padding-left: 10px;
                padding-right: 0;

            }

            @include respond(tab-port) {
                flex: 100%;
                padding-top: 40px;
                padding-bottom: 40px;

            }

            i {
                font-size: 24px;
                line-height: 30px;
                text-align: left;
                color: #5f5f5f;
                margin-right: 49px;

                transition: all ease .5s;
                -webkit-transition: all ease .5s;
                -moz-transition: all ease .5s;
                -ms-transition: all ease .5s;
                -o-transition: all ease .5s;

                @include respond(phone-medium) {
                    margin-right: 20px;
                }

                &:hover {

                    color: #ca2751;
                }
            }
        }
    }




    &_middle-part {

        &_items {
            padding-left: 29.1px;
            border-right: 1px solid $border-color;
            height: 100%;

            &_title {
                padding-top: 92px;
                font-family: $poppins-font;
                font-weight: 500;
                font-size: 24px;
                line-height: 28.8px;
                text-align: left;
                color: #1e1e1f;
                margin-bottom: 31px;

                @include respond(tab-port) {
                    padding-top: 35px;
                    margin-bottom: 20px;

                }

            }

            &_mobile {
                margin-bottom: 31px;

                @include respond(tab-port) {
                    margin-bottom: 6px;

                }
            }

            &_office {
                margin-bottom: 6px;
            }

            &_address {
                margin-bottom: 37.8px;

                @include respond(tab-port) {
                    margin-bottom: 30px;

                }
            }

            &_gmail {
                margin-top: 8.2px;
                padding-bottom: 94.8px;

                @include respond(tab-port) {
                    padding-bottom: 0;

                }
            }

            &_follow {
                font-family: $poppins-font;
                font-weight: 500;
                font-size: 24px;
                line-height: 28.8px;
                text-align: left;
                color: #1e1e1f;
            }

            ul {
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 12px;

                    @include respond(tab-port) {
                        margin-bottom: 6px;

                    }

                    a:hover {

                        color: #5f5f5f;

                    }
                }
            }

        }

        .footer-middle-part-last-item {
            border-right: none;
        }
    }



    &_bottom-part {
        background: #1e1e1f;

        &_wrapper {
            display: flex;
            justify-content: center;
            padding: 38px 0 27px;
            align-items: center;

            i {
                color: #ca2751;
            }

            p {
                color: $white-color;

                @include respond(phone-medium) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                }

            }
        }
    }
}

//ends of footer section