.pika-nav {
    margin-bottom: 30px;
}


//categories part start===========================

.catagories {
    &_wrapper {
        border: 1px solid $border-color;

        &_top-content {
            padding: 43px 0 39.9px 0;
            text-align: center;

            h2 {
                margin-bottom: 5px;
            }
        }

        &_catagorie-wrapper {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid $border-color;
            text-align: center;


            &_icon {
                flex: 33.33%;
                position: relative;
                border-right: 1px solid $border-color;
                display: flex;
                align-items: center;
                justify-content: center;


            }

            &_categorie-name {
                flex: 66.66%;
                padding: 30.2px 0 29.8px 0;

                p {
                    display: inline-block;
                    margin-right: 19.8px;
                }

            }
        }
    }
}



// categories slider start==============


// start of free shipping section
.free-shipping-section {
    margin-top: 30px;
    margin-bottom: 40px;
}

// ends of free shipping section



//start pf fashion section
.fashion-section {

    .fashion {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
        }

        &_content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;

            h6 {
                margin-bottom: 3.9px;
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 16px;
                letter-spacing: 0.5em;
                color: #fff;

            }

            h1 {
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 48px;
                color: #fff;

            }

            i {

                font-size: 36px;
                color: #fff;
                margin-bottom: 26px;
                margin-top: 13.7px;
            }

            h2 {
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 32px;
                color: #fff;

            }
        }
    }
}

//ends of fashion section

//start of featured products section
.feature-products-section {
    margin-bottom: 143px;
}

//ends of featured products section

// start of special deal section
.special-deal-section {
    background: #f7f7f8;

    .special-deal-image {
        img {
            width: 100%;
            height: auto;
            margin-top: -50px;
            margin-bottom: -50px;
        }
    }

    .special-deal-content-wrapper {
        background: #fff;
        height: 100%;
        width: 100%;
        padding-left: 126px;
        padding-right: 139px;
        padding-top: 48.3px;


        .special-deal-content-wrapper_top {
            h1 {
                font-family: $abril-font;
                font-weight: normal;
                font-size: 60px;
                text-align: left;
                color: #1e1e1f;
                margin-bottom: 5px;

            }

            h5 {
                font-family: $poppins-font;
                font-weight: normal;
                font-size: 18px;
                letter-spacing: 0.3em;
                text-align: left;
                color: #5f5f5f;

            }

            .section-title_line {
                text-align: left;
                margin: 0;
                margin-top: 33.8px;
                margin-bottom: 45.4px;
            }

            p {


                font-family: $poppins-font;
                font-weight: normal;
                font-size: 14px;
                text-align: left;
                color: #5f5f5f;
                margin-bottom: 23.5px;

            }
        }

        .date-counter {
            display: flex;
        }

        .btn {
            margin-top: 55.1px;
            background: #1e1e1f;
            color: #fff;
        }

    }
}

// ends of special deal section


//start of new arraival section
.new-arraival-section {
    margin-bottom: 143px;
}

//ends of new arraival section



//start of testimonial sleder section
.testimonial-section {
    background: #f7f7f8;

    .testimonial-section_left-part {
        background: #fff;
        height: 100%;
        width: 100%;
        position: relative;

        .fa-quote-left {
            position: absolute;
            top: 171px;
            left: 78px;
        }

        .fa-quote-right {
            position: absolute;
            bottom: 105px;
            right: 69px;
        }
    }

    &_content-wrapper {
        width: 100%;
        padding-left: 146.6px;
        padding-right: 147.4px;

        padding-top: 48.3px;

        h1 {
            font-family: $abril-font;
            font-weight: normal;
            font-size: 60px;
            text-align: right;
            color: #1e1e1f;
            margin-bottom: 5px;
        }

        h5 {
            font-family: $poppins-font;
            font-weight: normal;
            font-size: 18px;
            letter-spacing: 0.3em;
            text-align: right;
            color: #5f5f5f;

        }

        .section-title_line {
            text-align: end;
            margin: 33.8px 0 45.4px auto;
            // margin-top: 33.8px;
            // margin-bottom: 45.4px;
        }
    }

    img {
        width: 100%;
        height: auto;
        margin-top: -50px;
        margin-bottom: -50px;
    }

    i {

        font-size: 36px;
        letter-spacing: 0.3em;
        line-height: 80px;
        text-align: center;
        color: #ddd;

    }

    .testimonial-slider-wrapper {
        padding-left: 71.4px;
        padding-right: 130.3px;

        

        .owl-dots {
            position: absolute;
            bottom: -104px;
            right: 138px;

            button {
                width: 8px;
                height: 8px;
                background: #5f5f5f;
                border-radius: 50%;
                
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin-right: 10px;
                }

                .active{
                    background: #ca2751;
                }
        }




        span {
            margin-bottom: 35px;
        }

        p {
            padding-left: 90px;
            padding-right: 14px;
            text-align: justify;

            span {
                margin-bottom: 35px;
                display: inline-block;
            }

        }


    }


}

//ends of testimonial slider section


//start of our blog section
.blog-slider-wrapper{
    margin-top: 96.4px;
}
//ends of our blog section