.product-details-banner {
    margin-bottom: 100px;

    background: url(../../img/products-details/product-details-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    .dropdown-menu {
        background: #FDC900;
    }
}