/*
0-340px:        Phone-small
341-375px:      Iphone-x
376-576px:      Phone-medium
577-767px:      Phone-large
768-991px:      Tablet
992-1024px:     Ipad-pro
1025-1200px:    Tab-land
[1200-1800px:]  is where our normal styles apply
1800px + :      Big Desktop
*/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  box-sizing: border-box; }

a {
  color: #5f5f5f; }
  a:focus, a:active, a:hover {
    outline: none;
    border: none;
    box-shadow: none !important;
    text-decoration: none; }

h1 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  font-size: 60px;
  color: #1e1e1f;
  margin: 0; }

h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  color: #1e1e1f;
  margin: 0; }

h3 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
  font-size: 24px;
  color: #1e1e1f;
  margin: 0; }

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 21px;
  color: #1e1e1f;
  margin: 0; }

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #5f5f5f;
  margin: 0; }

h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #5f5f5f;
  margin: 0; }

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #5f5f5f;
  margin: 0; }

/*
0-340px:        Phone-small
341-375px:      Iphone-x
376-576px:      Phone-medium
577-767px:      Phone-large
768-991px:      Tablet
992-1024px:     Ipad-pro
1025-1200px:    Tab-land
[1200-1800px:]  is where our normal styles apply
1800px + :      Big Desktop
*/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  box-sizing: border-box; }

a {
  color: #5f5f5f; }
  a:focus, a:active, a:hover {
    outline: none;
    border: none;
    box-shadow: none !important;
    text-decoration: none; }

/*
0-340px:        Phone-small
341-375px:      Iphone-x
376-576px:      Phone-medium
577-767px:      Phone-large
768-991px:      Tablet
992-1024px:     Ipad-pro
1025-1200px:    Tab-land
[1200-1800px:]  is where our normal styles apply
1800px + :      Big Desktop
*/
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 14px;
  box-sizing: border-box; }

a {
  color: #5f5f5f; }
  a:focus, a:active, a:hover {
    outline: none;
    border: none;
    box-shadow: none !important;
    text-decoration: none; }

.dropdown .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  /* margin-left: .255em; */
  content: "\f107";
  border-top: 0;
  border-bottom: 0;
  /* font: normal normal normal 14px/1 FontAwesome; */
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  text-align: left;
  color: #1e1e1f;
  background: #fff; }

.btn {
  padding: 13.7px 45px;
  background: #fff;
  font-family: Poppins;
  font-weight: normal;
  font-size: 16px;
  line-height: 19.2px;
  text-align: left;
  color: #1e1e1f; }
  .btn:focus .btn:active {
    border: none;
    box-shadow: none !important;
    outline: none; }

.divider {
  width: 170px;
  height: 2px;
  background: #d6d8dc;
  margin-bottom: 50px; }

.categorie-slider {
  padding-left: 30px; }
  @media only screen and (max-width: 991px) {
    .categorie-slider {
      padding-left: 0;
      margin-top: 30px; } }
  .categorie-slider_wrapper {
    width: 100%; }
    .categorie-slider_wrapper img {
      width: 100%;
      height: auto; }
    .categorie-slider_wrapper_slider-content {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      text-align: center; }
      .categorie-slider_wrapper_slider-content h5 {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 0.2em;
        line-height: 43.45px;
        color: #fff; }
      .categorie-slider_wrapper_slider-content h1 {
        font-family: "Abril Fatface", cursive;
        font-weight: normal;
        font-size: 52px;
        line-height: 43.45px;
        color: #fff; }
        @media only screen and (max-width: 991px) {
          .categorie-slider_wrapper_slider-content h1 {
            font-size: 37px; } }
      .categorie-slider_wrapper_slider-content .btn {
        margin-top: 50px; }
  .categorie-slider .owl-dots {
    position: absolute;
    right: 44%;
    bottom: 5%; }
    .categorie-slider .owl-dots button {
      width: 8px;
      height: 8px;
      background: #fff;
      opacity: 0.5;
      margin-right: 10px; }
      .categorie-slider .owl-dots button .active {
        background: #fff; }

.owl-theme .owl-dots .owl-dot span {
  display: none; }

.footer-slider-wrapper {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #D6D8DC;
  border-bottom: none;
  padding: 40px 0; }
  .footer-slider-wrapper .footer-slider-items {
    flex: 16.5%;
    align-items: center;
    justify-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .footer-slider-wrapper .footer-slider-items img {
      width: auto; }
  .footer-slider-wrapper .owl-nav.disabled + .owl-dots {
    margin: 0;
    display: none; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

.products_image-part {
  position: relative; }
  .products_image-part img {
    width: 100%;
    height: auto; }
  .products_image-part_overlay {
    background: #fff;
    opacity: 0.4;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s; }
  .products_image-part_icon-wrapper {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    visibility: hidden;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s; }
    .products_image-part_icon-wrapper_icon {
      width: 42px;
      height: 42px;
      background: #1e1e1f;
      position: relative;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      cursor: pointer;
      margin: 0 5px; }
      .products_image-part_icon-wrapper_icon:hover {
        background: #2b3470; }
      .products_image-part_icon-wrapper_icon i {
        font-size: 16px;
        letter-spacing: 0.2em;
        line-height: 120px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -49%);
        -webkit-transform: translate(-45%, -49%);
        -moz-transform: translate(-45%, -49%);
        -ms-transform: translate(-45%, -49%);
        -o-transform: translate(-45%, -49%); }
  .products_image-part_new-arraival {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    z-index: 2; }
    .products_image-part_new-arraival p {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 0.1em;
      color: #fff;
      margin: auto; }
    .products_image-part_new-arraival_sale {
      width: 60px;
      height: 20px;
      background: #ca2751;
      text-align: center;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      transition: all ease .5s;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      -ms-transition: all ease .5s;
      -o-transition: all ease .5s; }
    .products_image-part_new-arraival_new {
      width: 60px;
      height: 20px;
      background: #2b3470;
      text-align: center;
      display: flex;
      align-items: center;
      transition: all ease .5s;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      -ms-transition: all ease .5s;
      -o-transition: all ease .5s; }
  .products_image-part:hover .products_image-part_overlay {
    visibility: visible;
    height: 100%; }
  .products_image-part:hover .products_image-part_icon-wrapper {
    visibility: visible;
    bottom: 35%; }
  .products_image-part:hover .products_image-part_new-arraival_sale p, .products_image-part:hover .products_image-part_new-arraival_new p {
    animation: shake 0.5s;
    animation-iteration-count: .20s;
    -webkit-animation: shake 0.5s; }

.products_content-part {
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .products_content-part {
      margin-bottom: 30px; } }
  .products_content-part h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #5f5f5f;
    margin-top: 25.5px;
    margin-bottom: 9.4px; }
  .products_content-part_stars {
    font-size: 14px;
    color: #fecc2f;
    margin-bottom: 13.6px; }
  .products_content-part h4 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 21px;
    color: #1e1e1f; }

.products-top-content {
  text-align: center; }
  .products-top-content p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.3em;
    text-align: center;
    color: #5f5f5f; }

.free-shipping_wrapper {
  border: 1px solid #D6D8DC; }
  .free-shipping_wrapper .col-lg-4:nth-child(3) .free-shipping_wrapper_items {
    border-right: none; }
  @media only screen and (max-width: 991px) {
    .free-shipping_wrapper .col-lg-4:nth-child(1) .free-shipping_wrapper_items {
      border-right: none; } }
  @media only screen and (max-width: 991px) {
    .free-shipping_wrapper .col-lg-4:nth-child(2) .free-shipping_wrapper_items {
      border-right: none; } }
  .free-shipping_wrapper_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #D6D8DC; }
    @media only screen and (max-width: 991px) {
      .free-shipping_wrapper_items {
        border-bottom: 1px solid #D6D8DC; } }
    .free-shipping_wrapper_items_circle {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border: 2px solid #D6D8DC;
      position: relative;
      margin-right: 19.6px; }
      .free-shipping_wrapper_items_circle img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%); }
    .free-shipping_wrapper_items_content {
      padding: 57.3px 0 53px 0; }
      .free-shipping_wrapper_items_content h3 {
        margin-bottom: 3.8px; }

.section-title {
  margin-top: 98.3px;
  margin-bottom: 50px;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .section-title {
      margin-top: 50px;
      margin-bottom: 30px; } }
  .section-title h2 {
    font-family: "Abril Fatface", cursive;
    font-weight: normal;
    font-size: 36px;
    color: #1e1e1f;
    margin-bottom: 3.9px; }
  .section-title p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.3em;
    text-align: center;
    color: #5f5f5f;
    margin-bottom: 24.8px; }
  .section-title_line {
    width: 170px;
    height: 2px;
    background: #d6d8dc;
    transition: ease-in-out .5s;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s; }
  .section-title:hover .section-title_line {
    width: 300px; }

.date-counter .single-date-wraper {
  margin-right: 20px; }
  .date-counter .single-date-wraper .date-wraper {
    width: 60px;
    height: 60px;
    background: #d6d8dc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9.9px; }

.our-blog_blog-title {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 991px) {
    .our-blog_blog-title {
      margin-bottom: 35px; } }
  .our-blog_blog-title_date-wrapper {
    margin-right: 29.9px;
    border: 1px solid #D6D8DC;
    height: 100%; }
    .our-blog_blog-title_date-wrapper h2 {
      padding: 18.6px 14.7px 11.4px 15.3px;
      border-bottom: 1px solid #D6D8DC; }
    .our-blog_blog-title_date-wrapper p {
      padding: 2px 21.2px 8px 20.8px; }
  .our-blog_blog-title_title-wrapper {
    width: 100%; }
    .our-blog_blog-title_title-wrapper h3 {
      line-height: 36px; }
      @media only screen and (max-width: 991px) {
        .our-blog_blog-title_title-wrapper h3 {
          font-size: 22px;
          line-height: 30px; } }
    .our-blog_blog-title_title-wrapper_read-more a {
      display: flex;
      margin-top: 30px; }
      @media only screen and (max-width: 991px) {
        .our-blog_blog-title_title-wrapper_read-more a {
          margin-top: 10px; } }
      .our-blog_blog-title_title-wrapper_read-more a:hover img {
        transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -o-transition: all ease .5s;
        margin-left: 10px; }
      .our-blog_blog-title_title-wrapper_read-more a p {
        margin-right: 14.7px; }

.nav-top_wraper {
  border-bottom: 1px solid #D6D8DC;
  padding: 15.2px 0 12.8px 0; }
  .nav-top_wraper .nav-top_phone h6, .nav-top_wraper .nav-top_email h6 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    color: #1e1e1f; }
  .nav-top_wraper .nav-top_language .dropdown-menu {
    top: 12px !important; }
  .nav-top_wraper .nav-top_currency {
    border-left: 1px solid #D6D8DC;
    text-align: end; }
    .nav-top_wraper .nav-top_currency .dropdown-menu {
      top: 12px !important; }

@media only screen and (max-width: 991px) {
  .pika-nav {
    border: 1px solid #D6D8DC;
    border-top: none; }
    .pika-nav .row {
      align-items: center; } }
  @media only screen and (max-width: 991px) and (max-width: 767px) {
    .pika-nav {
      border-top: 1px solid #D6D8DC; } }

.pika-nav_logo {
  padding: 66.7px 0 67.8px;
  border-right: 1px solid #D6D8DC;
  border-bottom: 1px solid #D6D8DC;
  border-left: 1px solid #D6D8DC;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 991px) {
    .pika-nav_logo {
      border-left: none;
      border-bottom: none;
      padding: 20px 0 20px; } }

.pika-nav_right {
  border-bottom: 1px solid #D6D8DC;
  border-right: 1px solid #D6D8DC; }
  @media only screen and (max-width: 991px) {
    .pika-nav_right {
      border-bottom: none; } }
  .pika-nav_right_top {
    border-bottom: 1px solid #D6D8DC;
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 991px) {
      .pika-nav_right_top {
        border-bottom: none; } }
    .pika-nav_right_top_search-bar {
      flex: 77.77%;
      padding-top: 31.8px;
      padding-bottom: 33px;
      position: relative; }
      @media only screen and (max-width: 767px) {
        .pika-nav_right_top_search-bar {
          display: none; } }
      .pika-nav_right_top_search-bar form {
        margin: auto;
        text-align: center; }
      .pika-nav_right_top_search-bar input {
        width: 74.5%;
        border: none;
        border-bottom: 1px solid #D6D8DC;
        padding-bottom: 10px; }
        .pika-nav_right_top_search-bar input:focus, .pika-nav_right_top_search-bar input:active {
          outline: none;
          border: none;
          box-shadow: none !important;
          text-decoration: none; }
      .pika-nav_right_top_search-bar button {
        border: none;
        background: none;
        position: absolute;
        right: 13%;
        top: 20%;
        font-size: 24px;
        font-weight: 300;
        line-height: 28.8px;
        color: #1e1e1f; }
        .pika-nav_right_top_search-bar button:focus, .pika-nav_right_top_search-bar button:active {
          outline: none;
          border: none;
          box-shadow: none !important;
          text-decoration: none; }
    .pika-nav_right_top_cart {
      flex: 11.1%;
      padding-top: 36.8px;
      padding-bottom: 38.2px;
      text-align: center;
      border-left: 1px solid #D6D8DC; }
      @media only screen and (max-width: 767px) {
        .pika-nav_right_top_cart {
          max-width: 15%;
          margin-left: auto; } }
      @media only screen and (max-width: 991px) {
        .pika-nav_right_top_cart {
          padding: 20px 0 20px; } }
    .pika-nav_right_top_menu-icon {
      flex: 11.1%;
      padding-top: 36.8px;
      padding-bottom: 38.2px;
      border-left: 1px solid #D6D8DC;
      text-align: center; }
      .pika-nav_right_top_menu-icon::after {
        display: none !important; }
      .pika-nav_right_top_menu-icon .dropdown-menu {
        min-width: 16rem;
        padding: 20px;
        box-shadow: -1px 14px 25px -1px rgba(0, 0, 0, 0.42);
        -webkit-box-shadow: -1px 14px 25px -1px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: -1px 14px 25px -1px rgba(0, 0, 0, 0.42); }
        .pika-nav_right_top_menu-icon .dropdown-menu a {
          padding-left: 0; }
          .pika-nav_right_top_menu-icon .dropdown-menu a:nth-child(7) {
            padding-top: 30px;
            border-top: 1px solid #D6D8DC; }
      @media only screen and (max-width: 767px) {
        .pika-nav_right_top_menu-icon {
          max-width: 15%; } }
      @media only screen and (max-width: 991px) {
        .pika-nav_right_top_menu-icon {
          padding: 20px 0 20px; } }
  .pika-nav_right_menu-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 18.8px 136.2px 21.2px 143.8px; }
    @media only screen and (max-width: 991px) {
      .pika-nav_right_menu-items {
        display: none; } }
    .pika-nav_right_menu-items a:focus {
      color: red; }

.mobile-search-bar {
  border: 1px solid #D6D8DC;
  border-top: none;
  margin-bottom: 30px;
  display: none;
  padding-top: 21.8px;
  padding-bottom: 23px; }
  @media only screen and (max-width: 767px) {
    .mobile-search-bar {
      display: block; } }

.pika-nav {
  margin-bottom: 30px; }
  @media only screen and (max-width: 767px) {
    .pika-nav {
      margin-bottom: 0; } }

.catagories .categorie-collapse {
  width: 100%; }

.catagories_wrapper {
  border: 1px solid #D6D8DC; }
  .catagories_wrapper_top-content {
    padding: 43px 0 39.9px 0;
    text-align: center;
    cursor: pointer;
    position: relative; }
    .catagories_wrapper_top-content i {
      display: none; }
      @media only screen and (max-width: 991px) {
        .catagories_wrapper_top-content i {
          display: block;
          position: absolute;
          right: 7%;
          top: 29%;
          font-size: 30px; } }
    @media only screen and (max-width: 991px) {
      .catagories_wrapper_top-content {
        padding: 20px 0 20px 0;
        text-align: left;
        margin-left: 20px; } }
    .catagories_wrapper_top-content h2 {
      margin-bottom: 5px; }
    @media only screen and (max-width: 991px) {
      .catagories_wrapper_top-content p {
        display: none; } }
  .catagories_wrapper_catagorie-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #D6D8DC;
    text-align: left; }
    .catagories_wrapper_catagorie-wrapper_icon {
      flex: 33.33%;
      position: relative;
      border-right: 1px solid #D6D8DC;
      display: flex;
      align-items: center;
      justify-content: center; }
    .catagories_wrapper_catagorie-wrapper_categorie-name {
      flex: 66.66%;
      padding: 30.2px 0 29.8px 0;
      padding-left: 10px; }
      .catagories_wrapper_catagorie-wrapper_categorie-name p {
        display: inline-block;
        margin-right: 19.8px; }

.free-shipping-section {
  margin-top: 30px;
  margin-bottom: 40px; }

.fashion-section .fashion {
  position: relative; }
  @media only screen and (max-width: 991px) {
    .fashion-section .fashion {
      margin-bottom: 30px; } }
  .fashion-section .fashion img {
    width: 100%;
    height: auto; }
  .fashion-section .fashion_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
    .fashion-section .fashion_content h6 {
      margin-bottom: 3.9px;
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.5em;
      color: #fff; }
    .fashion-section .fashion_content h1 {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 48px;
      color: #fff; }
      @media only screen and (max-width: 991px) {
        .fashion-section .fashion_content h1 {
          font-size: 37px; } }
    .fashion-section .fashion_content i {
      font-size: 36px;
      color: #fff;
      margin-bottom: 26px;
      margin-top: 13.7px; }
    .fashion-section .fashion_content h2 {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 32px;
      color: #fff; }

.feature-products-section {
  margin-bottom: 143px; }
  @media only screen and (max-width: 991px) {
    .feature-products-section {
      margin-bottom: 70px; } }

.special-deal-section {
  background: #f7f7f8; }
  @media only screen and (max-width: 991px) {
    .special-deal-section {
      margin-bottom: 70px; } }
  @media only screen and (max-width: 576px) {
    .special-deal-section {
      background: none; } }
  .special-deal-section .special-deal-image {
    background: url(../../img/home-1/home-1-special-deal.png);
    height: 123%;
    width: 100%;
    margin-top: -50px;
    background-repeat: no-repeat;
    background-size: cover; }
  .special-deal-section .special-deal-content-wrapper {
    background: #fff;
    height: 100%;
    width: 100%;
    padding-left: 126px;
    padding-right: 139px;
    padding-top: 48.3px; }
    @media only screen and (max-width: 576px) {
      .special-deal-section .special-deal-content-wrapper {
        padding-left: 0;
        padding-right: 0;
        text-align: center; } }
    .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top h1 {
      font-family: "Abril Fatface", cursive;
      font-weight: normal;
      font-size: 60px;
      text-align: left;
      color: #1e1e1f;
      margin-bottom: 5px; }
      @media only screen and (max-width: 576px) {
        .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top h1 {
          text-align: center; } }
      @media only screen and (max-width: 991px) {
        .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top h1 {
          font-size: 37px; } }
    .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top h5 {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.3em;
      text-align: left;
      color: #5f5f5f; }
      @media only screen and (max-width: 576px) {
        .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top h5 {
          text-align: center; } }
    .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top .section-title_line {
      text-align: left;
      margin: 0;
      margin-top: 33.8px;
      margin-bottom: 45.4px; }
      @media only screen and (max-width: 576px) {
        .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top .section-title_line {
          text-align: center;
          display: inline-block; } }
    .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top p {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 14px;
      text-align: left;
      color: #5f5f5f;
      margin-bottom: 23.5px; }
      @media only screen and (max-width: 576px) {
        .special-deal-section .special-deal-content-wrapper .special-deal-content-wrapper_top p {
          text-align: center; } }
    .special-deal-section .special-deal-content-wrapper .date-counter {
      display: flex; }
      @media only screen and (max-width: 576px) {
        .special-deal-section .special-deal-content-wrapper .date-counter {
          justify-content: center; } }
    .special-deal-section .special-deal-content-wrapper .btn {
      margin-top: 55.1px;
      background: #1e1e1f;
      color: #fff; }

.new-arraival-section {
  margin-bottom: 143px; }
  @media only screen and (max-width: 991px) {
    .new-arraival-section {
      margin-bottom: 100px; } }

.testimonial-section {
  background: #f7f7f8; }
  @media only screen and (max-width: 576px) {
    .testimonial-section {
      background: none; } }
  .testimonial-section .testimonial-section_left-part {
    background: #fff;
    height: 100%;
    width: 100%;
    position: relative; }
    .testimonial-section .testimonial-section_left-part .fa-quote-left {
      position: absolute;
      top: 171px;
      left: 78px; }
      @media only screen and (max-width: 1200px) {
        .testimonial-section .testimonial-section_left-part .fa-quote-left {
          left: 22px; } }
      @media only screen and (max-width: 991px) {
        .testimonial-section .testimonial-section_left-part .fa-quote-left {
          left: 19px;
          top: 128px; } }
      @media only screen and (max-width: 576px) {
        .testimonial-section .testimonial-section_left-part .fa-quote-left {
          left: 5px;
          top: 103px; } }
      @media only screen and (max-width: 375px) {
        .testimonial-section .testimonial-section_left-part .fa-quote-left {
          left: 5px;
          top: 127px; } }
    .testimonial-section .testimonial-section_left-part .fa-quote-right {
      position: absolute;
      bottom: 105px;
      right: 69px; }
      @media only screen and (max-width: 1200px) {
        .testimonial-section .testimonial-section_left-part .fa-quote-right {
          bottom: 65px; } }
      @media only screen and (max-width: 991px) {
        .testimonial-section .testimonial-section_left-part .fa-quote-right {
          bottom: 7px; } }
      @media only screen and (max-width: 576px) {
        .testimonial-section .testimonial-section_left-part .fa-quote-right {
          bottom: -19px;
          right: 10px; } }
  .testimonial-section_content-wrapper {
    width: 100%;
    padding-left: 146.6px;
    padding-right: 147.4px;
    padding-top: 48.3px; }
    @media only screen and (max-width: 375px) {
      .testimonial-section_content-wrapper {
        margin-bottom: 25px; } }
    @media only screen and (max-width: 991px) {
      .testimonial-section_content-wrapper {
        padding-left: 0;
        padding-right: 0;
        text-align: center; } }
    @media only screen and (max-width: 1200px) {
      .testimonial-section_content-wrapper {
        padding-top: 0; } }
    .testimonial-section_content-wrapper h1 {
      font-family: "Abril Fatface", cursive;
      font-weight: normal;
      font-size: 60px;
      text-align: right;
      color: #1e1e1f;
      margin-bottom: 5px; }
      @media only screen and (max-width: 991px) {
        .testimonial-section_content-wrapper h1 {
          text-align: center; } }
      @media only screen and (max-width: 991px) {
        .testimonial-section_content-wrapper h1 {
          font-size: 37px;
          margin-bottom: 7px; } }
    .testimonial-section_content-wrapper h5 {
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 18px;
      letter-spacing: 0.3em;
      text-align: right;
      color: #5f5f5f; }
      @media only screen and (max-width: 991px) {
        .testimonial-section_content-wrapper h5 {
          text-align: center; } }
    .testimonial-section_content-wrapper .section-title_line {
      text-align: end;
      margin: 33.8px 0 45.4px auto; }
      @media only screen and (max-width: 991px) {
        .testimonial-section_content-wrapper .section-title_line {
          text-align: center;
          display: inline-block;
          margin-bottom: 20px; } }
  .testimonial-section img {
    width: 100%;
    height: auto;
    margin-top: -50px;
    margin-bottom: -50px; }
  .testimonial-section i {
    font-size: 36px;
    letter-spacing: 0.3em;
    line-height: 80px;
    text-align: center;
    color: #ddd; }
  .testimonial-section .testimonial-slider-wrapper {
    padding-left: 71.4px;
    padding-right: 130.3px; }
    @media only screen and (max-width: 576px) {
      .testimonial-section .testimonial-slider-wrapper {
        padding-left: 60px;
        padding-right: 60px; } }
    .testimonial-section .testimonial-slider-wrapper .owl-dots {
      position: absolute;
      bottom: -104px;
      right: 138px; }
      @media only screen and (max-width: 1200px) {
        .testimonial-section .testimonial-slider-wrapper .owl-dots {
          bottom: -58px; } }
      @media only screen and (max-width: 991px) {
        .testimonial-section .testimonial-slider-wrapper .owl-dots {
          display: none; } }
      .testimonial-section .testimonial-slider-wrapper .owl-dots button {
        width: 8px;
        height: 8px;
        background: #5f5f5f;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 10px; }
      .testimonial-section .testimonial-slider-wrapper .owl-dots .active {
        background: #ca2751; }
    .testimonial-section .testimonial-slider-wrapper span {
      margin-bottom: 35px; }
    .testimonial-section .testimonial-slider-wrapper p {
      padding-left: 90px;
      padding-right: 14px;
      text-align: justify; }
      @media only screen and (max-width: 1200px) {
        .testimonial-section .testimonial-slider-wrapper p {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 35px; } }
      .testimonial-section .testimonial-slider-wrapper p span {
        margin-bottom: 35px;
        display: inline-block; }
        @media only screen and (max-width: 1200px) {
          .testimonial-section .testimonial-slider-wrapper p span {
            margin-bottom: 15px; } }
  @media only screen and (max-width: 991px) {
    .testimonial-section .testimonial-slider-image {
      display: none; } }

.blog-slider-wrapper {
  margin-top: 96.4px; }

@media only screen and (max-width: 991px) {
  .our-blog-section-title {
    margin-top: 80px; } }

.footer {
  margin-top: 96.4px; }
  .footer_full-border {
    border-top: 1px solid #D6D8DC; }
  .footer_wrapper {
    border: 1px solid #D6D8DC;
    border-top: none; }
  .footer_top-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #D6D8DC; }
    .footer_top-part_email-subscribtion {
      flex: 45.7%;
      align-self: center; }
      @media only screen and (max-width: 991px) {
        .footer_top-part_email-subscribtion {
          flex: 100%;
          padding-top: 40px;
          padding-bottom: 40px;
          border-bottom: 1px solid #D6D8DC; } }
      .footer_top-part_email-subscribtion form {
        margin: auto;
        text-align: center;
        position: relative; }
      .footer_top-part_email-subscribtion input {
        width: 64.35%;
        border: none;
        border-bottom: 1px solid #D6D8DC;
        padding-bottom: 10px; }
        @media only screen and (max-width: 767px) {
          .footer_top-part_email-subscribtion input {
            width: 90%; } }
        .footer_top-part_email-subscribtion input::placeholder {
          margin-bottom: 11.8px; }
        .footer_top-part_email-subscribtion input:focus, .footer_top-part_email-subscribtion input:active {
          outline: none;
          box-shadow: none !important;
          text-decoration: none; }
      .footer_top-part_email-subscribtion button {
        border: none;
        background: none;
        position: absolute;
        font-weight: normal;
        font-size: 18px;
        line-height: 80px;
        text-align: left;
        color: #1e1e1f;
        top: -95%;
        right: 17%; }
        @media only screen and (max-width: 767px) {
          .footer_top-part_email-subscribtion button {
            right: 5%; } }
        .footer_top-part_email-subscribtion button:focus, .footer_top-part_email-subscribtion button:active {
          outline: none;
          box-shadow: none !important;
          text-decoration: none; }
    .footer_top-part_scroll-top {
      flex: 4.27%;
      border-right: 1px solid #D6D8DC;
      border-left: 1px solid #D6D8DC;
      display: flex;
      justify-content: center; }
      @media only screen and (max-width: 991px) {
        .footer_top-part_scroll-top {
          flex: 100%;
          border-bottom: 1px solid #D6D8DC; } }
      .footer_top-part_scroll-top img {
        padding: 37.5px 0; }
    .footer_top-part_social-icons {
      flex: 45.7%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 120.6px;
      padding-right: 71px; }
      @media only screen and (max-width: 1200px) {
        .footer_top-part_social-icons {
          padding-left: 10px;
          padding-right: 0; } }
      @media only screen and (max-width: 991px) {
        .footer_top-part_social-icons {
          flex: 100%;
          padding-top: 40px;
          padding-bottom: 40px; } }
      .footer_top-part_social-icons i {
        font-size: 24px;
        line-height: 30px;
        text-align: left;
        color: #5f5f5f;
        margin-right: 49px;
        transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -o-transition: all ease .5s; }
        @media only screen and (max-width: 576px) {
          .footer_top-part_social-icons i {
            margin-right: 20px; } }
        .footer_top-part_social-icons i:hover {
          color: #ca2751; }
  .footer_middle-part_items {
    padding-left: 29.1px;
    border-right: 1px solid #D6D8DC;
    height: 100%; }
    .footer_middle-part_items_title {
      padding-top: 92px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 28.8px;
      text-align: left;
      color: #1e1e1f;
      margin-bottom: 31px; }
      @media only screen and (max-width: 991px) {
        .footer_middle-part_items_title {
          padding-top: 35px;
          margin-bottom: 20px; } }
    .footer_middle-part_items_mobile {
      margin-bottom: 31px; }
      @media only screen and (max-width: 991px) {
        .footer_middle-part_items_mobile {
          margin-bottom: 6px; } }
    .footer_middle-part_items_office {
      margin-bottom: 6px; }
    .footer_middle-part_items_address {
      margin-bottom: 37.8px; }
      @media only screen and (max-width: 991px) {
        .footer_middle-part_items_address {
          margin-bottom: 30px; } }
    .footer_middle-part_items_gmail {
      margin-top: 8.2px;
      padding-bottom: 94.8px; }
      @media only screen and (max-width: 991px) {
        .footer_middle-part_items_gmail {
          padding-bottom: 0; } }
    .footer_middle-part_items_follow {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 24px;
      line-height: 28.8px;
      text-align: left;
      color: #1e1e1f; }
    .footer_middle-part_items ul {
      padding: 0; }
      .footer_middle-part_items ul li {
        list-style: none;
        margin-bottom: 12px; }
        @media only screen and (max-width: 991px) {
          .footer_middle-part_items ul li {
            margin-bottom: 6px; } }
        .footer_middle-part_items ul li a:hover {
          color: #5f5f5f; }
  .footer_middle-part .footer-middle-part-last-item {
    border-right: none; }
  .footer_bottom-part {
    background: #1e1e1f; }
    .footer_bottom-part_wrapper {
      display: flex;
      justify-content: center;
      padding: 38px 0 27px;
      align-items: center; }
      .footer_bottom-part_wrapper i {
        color: #ca2751; }
      .footer_bottom-part_wrapper p {
        color: #fff; }
        @media only screen and (max-width: 576px) {
          .footer_bottom-part_wrapper p {
            display: flex;
            flex-direction: column;
            text-align: center; } }
